@tailwind base;
@tailwind components;
@tailwind utilities;

.add-before::before{
    content: '';
    width: 55%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: -50%;
}

@layer base{
    .add-before ul li{
        @apply relative flex flex-col justify-center items-center cursor-pointer py-8
    }

    .add-before ul li p{
        @apply font-bold
    }

    .add-before ul li p span{
        @apply font-light
    }

    .add-before ul li:hover .line-under{
        @apply bg-link-hover
    }

    .add-before ul li .line-under{
        @apply absolute bottom-0 w-full h-1 transition-all duration-300 ease-in-out      
    }

    .active-line{
        @apply bg-white
    }
}
